graphics/mjlm_signature.pdf

Thesis.pdf
**/*.aux
_minted-Thesis/
*.aux
*.acn
*.acr
*.bbl
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.bcf
*.blg
*.log
*.out
*.synctex.gz
*.tdo
*.toc
*.pyg
*.xdv
*.dvi
*.fdb_latexmk
*.fls
*.run.xml
*.lof
*.mw